{
  def normTV = {
    it.replaceAll(/[`´‘’ʻ""“”]/, "'")
      .replaceAll(/[|]/, " - ")
      .replaceAll(/[?]/, "\uFE56") // "﹖" Small Question Mark
      .replaceAll(/[\*]/, "\u204E") // "⁎" low asterisk
      .replaceAll(/[*\p{Zs}]+/, " ")
      .replaceAll(/\b[IiVvXx]+\b/, { it.upper() })
      .replaceAll(/\b[0-9](?i:th|nd|rd)\b/, { it.lower() })
  }

  Boolean isEng = any{ audio.language.any{ it ==~ /en/ } }{ audio.language ==~ /en/ }{true}

  allOf
    {"TV Shows"}
    { allOf
        { (!isEng && (audio.language != null)) ?
          normTV(localize[audio.language[0]].n).colon(" - ").replaceTrailingBrackets() :
          normTV(n).colon(" - ").replaceTrailingBrackets() }
        { def firstYear = episodelist.find{ it.regular }.airdate.year
          "($firstYear)" }
      .join(" ") }
    { episode.special ? "Specials" : allOf{"Season"}{s}.join(" ") }
    /* allOf{"Season"}{s}{sy}.join(" ") --- {sc >= 10 ? s.pad(2) : s} */
    { allOf
      {
        if (!isEng && (audio.language != null)) {
          normTV(localize[audio.language[0]].n).colon("\u2236 ").replaceTrailingBrackets()
        } else {
          normTV(n).colon("\u2236 ").replaceTrailingBrackets()
        }
      { episode.special ? "S00E" + special.pad(2) : s00e00 }
      { allOf
        // { t.replacePart(replacement = ", Part $1") }
        {
          if (!isEng && (audio.language != null)) {
            normTV(localize[audio.language[0]].t).colon("\u2236 ").slash("\u2571")
          } else {
            normTV(t).colon("\u2236 ").slash("\u2571") // ╱ is the replacement for slash
          }
        }
        {"PT $pi"}
        { allOf
        {" ["}
        { allOf
          { // Video
            // net.filebot.media.VideoFormat.DEFAULT_GROUPS.guessFormat(dim[0], dim[1])
            allOf
              { vf }
              { vc }
              { include '{{ scriptDir }}/partials/hdrPart.groovy' }
            .join(" ")
          }
          { include '{{ scriptDir }}/partials/audioPart.groovy' }
          { include '{{ scriptDir }}/partials/extraSource.groovy' }
          .join(" - ") }
        {"]"}
        { include '{{ scriptDir }}/partials/repackPart.groovy' }
        { include "{{ scriptDir }}/partials/${ anime ? 'animeGroup' : 'genericGroup' }.groovy" }
        {subt}
        .join("") }
      .join(" ") }
    .join(" - ") }
  .join("/")
}
