{ import groovy.json.JsonSlurper
  import groovy.json.JsonOutput

  def url = new URL("https://passthepopcorn.me/torrents.php?searchstr=$n&scene=2&resolution=$vf")
  def requestHeaders = [
    "Accept": "application/json",
    "ApiUser": "{{ ptp.apiuser }}",
    "ApiKey": "{{ ptp.apikey }}"
  ]

  def result = url.get(requestHeaders).text
  def json = new JsonSlurper().parseText(result)
  if (json.TotalResults > 0) {
  	def group = "VietHD"
    def gp = json.Movies*.Torrents*.any { it ->
        it.Resolution == vf &&
        it.ReleaseGroup ==~ /(?i)$group/ &&
        it.GoldenPopcorn
    }
    if (gp) { return "(GP)" }
  }
}